/* BANNER
*/
.banner                                        { position:relative; margin-top:70px; height:320px; background-size:cover; background-position:center top; background-repeat:no-repeat;
  .cover                                       { position:absolute; left:0; right:0; top:0; bottom:0; background-color:rgba(50,50,50,0.1); }
  .container                                   { position:relative; height:400px; }
  .contentwrap                                 { position:relative; left:0; bottom:8rem; min-width:62%; color:#FFF; background-color:rgba(126, 171, 33, 0.47);
    .main                                      { padding:15px 30px 10px;
      h1                                       { margin-bottom:0; text-transform:uppercase; font-size:3rem; text-shadow:0 1px 2px rgba(0,0,0,0.4); }
      p                                        { font-size:2rem; font-weight:300; text-shadow:0 1px 2px rgba(0,0,0,0.4); }
    }
  }
}

@media (max-width:767px) {
  .banner                                      { 
    .container                                 { margin:0; padding:0; }
    .contentwrap                               { position:absolute; min-width:100%; }
  }
}

@media (min-width:768px) {
  .banner                                      { margin-top:117px; height:400px;
    .contentwrap                               { position:absolute; left:3rem; bottom:0;
      .main                                    { padding:30px;
        h1                                     { margin-bottom:1rem; font-size:3rem; }
      }
    }
  }
}
