/* BUTTONS
*/
.btn                                           { text-decoration:none; padding:1rem 3rem; }
.btn-default                                   { color:$grey_dark; background-color:transparent; border:1px solid $primary_colour; border-radius:0; text-transform:uppercase; transition:all 0.3s ease;
	&:hover, &:focus, &:active, &.active         { color:#FFF; background-color:$primary_colour; transition:all 0.3s ease; }
}
.btn-primary                                   { color:#FFF; background-color:$primary_colour; border:1px solid transparent; border-radius:0; text-transform:uppercase; transition:all 0.3s ease;
	&:hover, &:focus, &:active, &.active         { color:$grey_dark; background-color:#FFF; border:1px solid $primary_colour; transition:all 0.3s ease; }
}
.btn-secondary                                 { color:$primary_colour; background-color:#FFF; border:0; border-radius:0; text-transform:uppercase; transition:all 0.3s ease; }
.btn-action                                    { background:red; color:white;
	&:hover, &:focus, &:active, &.active         { background:white; color:red; }
}
.text-image p:last-of-type a:last-of-type      { display:inline-block; margin-top:1.5rem; padding:0.8rem 3rem; font-size:1.6rem; color:#FFF; background-color:transparent; text-transform:uppercase; text-decoration:none; transition:all 0.3s ease;
  &:hover                                      { background-color:rgba(188,207,13,0.5); transition:all 0.3s ease; }
}

.more_content                                  { position:relative; padding-top:3rem; border:0; background-color:$default_bg;
	&:before                                     { position:absolute; left:45%; top:0; color:$primary_colour; font-family:FontAwesome; content:"\f107"; font-size:2.8rem; }
	span                                         { font-family:$font_feature; font-size:2rem; }
}
.less_content                                  {
	&:before                                     { content:"\f106"; }
}