/* IMAGES (RESPONSIVE)
*/
.main                                          {
	img                                          { display:block; max-width:100%; height:auto;
  	&.alignleft                                { float:left; margin:0 20px 10px 0; }
  	&.alignright                               { float:right; margin:0 0 10px 20px; }
  	&.aligncentre                              { margin:0 auto; }
  }
}
