/* NAVIGATION - MOBILE
*/
/* Page Nav */
.mobile-navbar                                 { min-height:auto; padding:0 0 1rem 0; background:#FFF; color:#333; border-bottom:1px solid #555; z-index:1020;
  .logo                                        { float:left; padding-left:1.5rem; 
    a                                          { display:block; border:0;
      img                                      {  }
    }
  }
  .quickcontact                                { margin-bottom:1rem; background-color:#333; 
    ul                                         { margin:0; padding:0.5rem 0; list-style-type:none; font-weight:bold; text-align:right;
      li                                       { display:inline-block; font-size:1.2rem; color:#FFF;
        i                                      { color:#FFF; }
        a                                      { line-height:1; color:#FFF !important; text-decoration:none !important; font-size:1.2rem; font-weight:400 !important; border-bottom:0;
          &.sbm-icon i                         { color:#FFF; }
        }
      }
    }
  }
  a                                            { padding:0 !important; line-height:50px; font-size:2.2rem; font-weight:600; color:$primary_colour !important; text-decoration:none; }
    .navbar-toggle                             { float:right; margin-top:10px; margin-left:15px; border:0; background:transparent; border:1px solid transparent;
      &:hover, &:focus                         { border-color:#cccccc; background:transparent; }
      .icon-bar                                { width:40px; height:3px; background-color:$primary_colour;
        &+.icon-bar                            { margin-top:6px; }
      }
    }
    .nav>li>a:hover, .navbar .nav>li>a:focus   { text-decoration:none; background-color:#cccccc; color:#666666; }
    .brand                                     { margin-left:2rem; padding:6px 15px 0; width:70%; height:auto; border:0;
      img                                      { display:inline-block; }
    }
}
@media screen and (max-width:991px)            {
  .navbar-toggle                               { display:block; }
}

/* Pop out */
.mobile-nav                                    {
  > div:first-of-type                          { background-color:#F1F1F1; border-right:1px solid #CCC; box-shadow:2px 0 10px rgba(0,0,0,0.2); }
    .mobile-nav-header                         { background-color:#a5cf4d;
      .nav-toggle                              { float:none; margin:0; padding:1.5rem; width:100%; font-size:2rem; color:#FFF; text-align:left; border:0; background:url(assets/images/menu-arrow.png) right 15px center no-repeat; }
    }
    .menu-primary-container                    { }
      .nav                                     { padding:0; box-shadow:0 0 10px rgba(0,0,0,0.2); }
        a                                      { text-decoration:none; border-bottom:1px solid #CCC; }
        .menu-item                             { background-color:#FFF;
          &.active                             { background-color:$primary_colour_light; }
        }
        .current-menu-item                     {
          a                                    { color:#FFF !important; background-color:$primary_colour !important; }
          .sub-menu .menu-item a               { color:#17223C !important; background-color:$primary_colour_light !important; }
        }
        .sub-menu                              { display:block; margin:0; padding:0; list-style:none;
          .menu-item a                         { display:block; padding:10px 15px 10px 35px; background:url(assets/images/list-arrow.png) 2rem center no-repeat; border-bottom:1px solid #CCC; font-style:italic; }
          .current-menu-item a                 { background-image:url(assets/images/list-arrow-selected.png) !important; }
        }
  .drop-shadow                                 { position:fixed; top:70px; opacity:0.7; z-index:10; }
}
