/* NAVIGATION
*/

#navbar-toggle                                { position:absolute; right:3rem; top:2.5rem; width:22px; height:22px; @include rotate(0deg); @include transition(.5s ease-in-out); cursor:pointer; z-index:22;
  span                                        { display:block; position:absolute; left:0; width:100%; height:2px; background:$burger_colour; border-radius:9px; opacity:1; @include rotate(0deg); @include transition(.25s ease-in-out);
    &:nth-child(1)                            { top:0px; }
    &:nth-child(2)                            { top:8px; }
    &:nth-child(3)                            { top:16px; }
  }
  &.open span                                 { 
    &:nth-child(1)                            { top:8px; @include rotate(135deg); }
    &:nth-child(2)                            { opacity:0; top:60px; }
    &:nth-child(3)                            { top:8px; @include rotate(-135deg); }
  }
}


