html                                           { font-size:$html_base_font_size; }
body                                           { padding-top:12rem; font-family:$font_default; font-size:$font_size; font-weight:$font_weight; color:$default_text; }
.contentwrap                                   { line-height:$font_line_height; }
.wrap                                          { min-height:100%;
  &:after                                      { display:block; content:""; }
}
p                                              { margin-bottom:2rem; }
b, strong                                      { font-weight:$medium; }
ul                                             { margin:0 0 1rem; padding:0 2.5rem; }
li                                             { }

// HEADINGS
h1                                             { font-family:$font_feature,sans-serif; margin-top:2rem; font-size:5rem; font-weight:$light; text-transform:lowercase; }
h2                                             { font-family:$font_feature,sans-serif; display:inline-block; margin:2rem 0 0.5rem; padding:0; font-size:3.5rem; font-weight:$light; color:$primary_colour; text-transform:lowercase; 
	.home &                                      { margin:4rem 0 2rem; padding:0 1rem; color:$grey_medium; font-size:5rem; border-bottom:1px solid $primary_colour; }
	&.standard                                   { display:block; padding:0 0 1rem 0; font-size:3rem; color:$grey_medium; }
	&.large                                      { font-size:5rem; color:$grey_medium; }
}
h3                                             { font-family:$font_default; font-size:1.8rem; font-weight:$medium; 
	.home &                                      { font-family:$font_feature,sans-serif; font-size:4rem; font-weight:$light; text-transform:lowercase; }
}

// LINKS
a                                              { color:$primary_colour_a11y; text-decoration:underline;
  &:hover, &:focus                             { color:$primary_colour_a11y; text-decoration:none; }
}

