
// Secondary Font
@font-face                                     { font-family:$font_feature;
                                                 src:url('assets/fonts/blanch-condensed-58f6d8f477796-webfont.woff2') format('woff2'), url('assets/fonts/blanch-condensed-58f6d8f477796-webfont.woff') format('woff');
                                                 font-weight:$regular;
                                                 font-style:normal;
                                               }


