

//mixin
@mixin blockGap($paddingSize, $marginSize){
  margin: $marginSize;
  padding: $paddingSize;
}

@mixin button($border, $radius, $bgColor, $txtColor, $btnHeight, $btnWidth, $btnMargin, $btnPadding, $txtTransform){
  border:$border;
  background-color: $bgColor;
  color:$txtColor;
  height:$btnHeight;
  width:$btnWidth;
  margin:$btnMargin;
  padding:$btnPadding;
  border-radius:$radius;
  -webkit-border-radius:$radius;
  -moz-border-radius:$radius;
  text-transform: $txtTransform;
  font-weight: $semibold;
}

@mixin closeButton($position, $top, $left, $right, $bottom, $defaultColor, $fSize){
  position:$position;
  top:$top;
  left:$left;
  right:$right;
  bottom:$bottom;
  color:$defaultColor;
  font-size: $fSize;
}

@mixin animation($time,$duration,$delay){
  animation-duration: $duration;
  animation-delay: $delay;
  animation-iteration-count: $time;
  -webkit-animation-duration: $duration;
  -webkit-animation-delay: $delay;
  -webkit-animation-iteration-count: $time;
}


@mixin transition($obj,$time){
    transition:$obj $time;
    -webkit-transition:$obj $time;
    -moz-transition:$obj $time;
}

@mixin textShadow($value){
  text-shadow:$value;
  -webkit-text-shadow:$value;
  -moz-text-shadow:$value;
}
@mixin boxShadow($value){
  box-shadow:$value;
  -webkit-box-shadow:$value;
  -moz-box-shadow:$value;
}

@mixin borderRadius($value){
  border-radius: $value;
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
}

@mixin rotate($value){
  -webkit-transform: rotate($value);
  -moz-transform: rotate($value);
  -o-transform: rotate($value);
  transform: rotate($value);
}

@mixin transition($value){
  -webkit-transition:$value;
  -moz-transition:$value;
  -o-transition:$value;
  transition:$value;
}
