/*
  Theme Name:   Boss Aluminium
  Author:       Smith Brothers Media
  Version:      1.0.0
  Author URI:   http://smithbrothersmedia.com.au
  Description:  This theme is developed by Smith Brothers Media.
*/

//Font Weight
$light:                                        300;
$regular:                                      400;
$medium:                                       500;
$semibold:                                     600;
$bold:                                         700;
$black:                                        900;


//Base font
$html_base_font_size:                          10px;
$font_default:                                 helvetica, arial, sans-serif;
$font_feature:                                 "blanchcondensed";
$font_size:                                    16px;
$font_line_height:                             1.25;
$font_weight:                                  $light;

// Colours
$white:                                        #FFFFFF;
$white_light:                                  #E7E7E7;
$white_dark:                                   #CCCCCC;
$grey_light:                                   #999999;
$grey_medium:                                  #767676;
$grey:                                         #555555;
$grey_dark:                                    #333333;
$black:                                        #000000;
$transparent:                                  transparent;

$red:                                          #ED1C24;
$green_light:                                  #D9EEB5;
$green:                                        #BCCF0D; //A5CF4D; 
$green_dark:                                   #628022;

// Variables

$primary_colour:                               $green;
$primary_colour_light:                         $green_light;
$primary_colour_a11y:                          $green_dark;

$default_text:                                 $grey_medium;
$default_bg:                                   $white;

// General
$burger_colour:                                $primary_colour;
$link_colour:                                  $primary_colour;

// Buttons
$btn_default_color:                            $grey_dark;
$btn_default_bg:                               $transparent;
$btn_default_border:                           $primary_colour;
$btn_default_color_hv:                         $white;
$btn_default_bg_hv:                            $primary_colour;
$btn_default_border_hv:                        $primary_colour;

$btn_primary_color:                            $white;
$btn_primary_bg:                               $primary_colour;
$btn_primary_border:                           $transparent;
$btn_primary_color_hv:                         $grey_dark;
$btn_primary_bg_hv:                            $white;
$btn_primary_border_hv:                        $primary_colour;

$btn_secondary_color:                          $white;
// $btn_secondary_bg:                             $secondary_colour;
$btn_secondary_border:                         $transparent;
$btn_secondary_color_hv:                       $grey_dark;
$btn_secondary_bg_hv:                          $white;
// $btn_secondary_border_hv:                      $secondary_colour;

// $btn_tertiary_color:                           $quaternary_colour;
// $btn_tertiary_bg:                              $tertiary_colour;
$btn_tertiary_border:                          $transparent;
$btn_tertiary_color_hv:                        $grey_dark;
$btn_tertiary_bg_hv:                           $white;
// $btn_tertiary_border_hv:                       $tertiary_colour;

// Forms
$form_border_colour:                           $grey-medium;













//Responsive Breakpoint

$break-small:                                  320px;
$break-medium:                                 768px;
$break-large:                                  1200px;

$br-mnu:											$break-medium;
//Vieo Grid Block height
$GridBlockHeight:                              350px;
