/* FOOTER
*/
.before-footer                                                                                     { padding:10px 0px; font-size:0.9em; font-weight:400; color:#FFF; background:#414042; }
.footer                                                                                            { padding:10px 0px; font-size:0.9em; font-weight:400; color:#FFF; background:#fff; }
  .footer a                                                                                        { color:#FFF; }
  .footer .company-info                                                                            { margin-bottom:15px; }
  .footer .site-copyright p                                                                        { margin:0.5em 0 0; }
  .footer .site-copyright a                                                                        { color:#FFF; text-decoration:underline; }
  .footer .site-copyright a:hover, .footer .site-copyright a:focus                                 { text-decoration:none; }

/* 



				Clean up ????




*/

  .dynamic-text                                                                                    { color:#FFF; background-color:#333; text-align:center; }

  .footer                                                                                          { padding-top:20px; text-align:center; }
    .footer img                                                                                    { display:inline-block; margin-bottom:0; width:130px; }
    .footer p                                                                                      { margin:0 0 1.5rem; }
    .footer a                                                                                      { color:#FFF; text-decoration:none; }
    .footer a:hover, .footer a:focus                                                               { color:#FFF; text-decoration:underline; }
    .footer a.btn-facebook                                                                         { width:20px; height:20px; line-height:20px; font-size:1rem; color:#333; background-color:#70bf44; }

.pre-footer                                    { padding:3rem 0; color:#FFF; background-color:$default_text; font-size:1.5rem; font-weight:300;
  h2                                           { margin-top:0; color:#FFF; }
  a                                            { color:#FFF; }
  span                                         { display:inline-block; }
}

.footer                                        { color:$primary_colour; background-color:#555; font-size:1.2rem; font-weight:300;
  a                                            { color:#FFF; white-space:nowrap; }
  span                                         { display:inline-block; }
  .footer-logo                                 { display:block; margin-top:2rem;  }
  .footer-links                                { display:block; }
}


@media screen and (max-width:767px)            {
  .pre-footer                                  {
    span                                       { display:block; }
    .hidden-mobile                             { display:none; }
  }
  .footer                                      {
    .hidden-mobile                             { display:none; }

  }

}

@media screen and (min-width:768px)            {
  .footer                                      {
    .footer-logo                               { float:left; margin-top:0; display:table-cell; }
    .footer-links                              { float:right; display:table-cell; margin-top:1.2rem; width:81%; }
  }
}

