//Style to overwrite default Gravity Form Style
.content{
  .gform_wrapper {
    div.validation_error{
        color: #790000;
      font-size:1.6rem;
      font-weight: 400;
      margin:25px 0px;
      border: 1px solid #790000;
      padding: 16px 0;
      clear: both;
      width: calc( 100% - 50px);
      text-align: center;
      background-color: rgba(255,223,224,.25);
    }

    .field_description_below .gfield_description{
      padding:0px;
      font-size: 0.6rem;
      font-weight: 300;
      margin-bottom: 10px;
    }
    .top_label{
      .gfield_label{
        font-size:1.6rem;
        font-weight: 300;
        color: #000;
        margin:0px !important;
      }

      div.ginput_container{
          margin-top:0px;
      }
    }

    ul.gform_fields                            {
      li                                       {
        &.gfield                               { padding:0; list-style-type:none;
          &.gfield_error                       { margin:0 !important; padding-right:20px !important; border:none !important; background:transparent !important;
            &.gfield_contains_required         {
              div                              {
                &.ginput_container             { margin:0px !important; }
                &.gfield_description           { padding:0px; }
              }
            }
          }
        }
        &.gfield_error {
          input[type=text], .gform_wrapper li.gfield_error textarea{
            border:none;
            border-bottom:1px solid #790000;
          }
        }
      }

      .gfield_checkbox li                      {
        label                                  { font-weight:normal; }
        input[type=checkbox]                   { margin-top:0; }
      }


    }

    input[type=text], select{
      outline:none !important;
      padding:0px;
      font-size:1.6rem;
      border:1px solid $form_border_colour;
    }

    ul.gform_fields                            {
      li.preferred_date                        { float:left; margin-right:1%; padding:0 12px; width:49.5%; min-height:55px; border:1px solid $form_border_colour;
        label                                  { display:inline-block; padding-left:1rem; color:$default_text; font-weight:bold; }
        > div                                  { display:inline-block; margin-left:1rem;
          input[type=text]                     { border:0; }
        }
      }
      li.preferred_time                        { float:left; clear:none; padding:8px 12px; width:49.5%; min-height:55px; border:1px solid $form_border_colour;
        label                                  { display:inline-block; margin-right:10px !important; padding-left:1rem; color:$default_text; font-weight:bold; }
        > div                                  { display:inline-block; margin-left:1rem; width:50%;
          > div                                { position:relative; display:inline-block;
            label                              { display:none; }
            input[type=text]                   { display:inline-block; padding:5px 0 !important; width:30px; border:0; }
            i                                  { position:absolute; top:0; }
            select                             { margin-top:5px; }
          }
        }
        
      }
    }


    textarea {
      outline: none;
      font-size:1.6rem;
      margin-top:10px;
      padding: 0px;
      height:120px !important;
    }

    .gform_footer {
      input.button{
        font-size:1.6rem;
        color: #000;
        border: 1px solid #444;
        background-color: #fff;
        padding: 5px 25px;
        line-height: normal;
        transition: 0.4s all;
        -webkit-transition: 0.4s all;
        -moz-transition: 0.4s all;
        &:hover, &:focus{
          color:#fff;
          background-color:#000;
        }
      }
    }
  }
}
/* X SMALL - ONLY (Phone)
*/
@media screen and (max-width:767px) {
  .content                                     {
    .gform_wrapper                             {
      ul.gform_fields                          {
        li.preferred_date                      { width:100%; }
        li.preferred_time                      { width:100%;
          select                               { margin-top:8px; }
        }
      }
    }
  }

}

/* FORMS
*/
.content                                       {
  .gform_wrapper                               {
    .top_label                                 {
      .gfield_label                            { display:none; }
    }
    ul.gform_fields                            {
      input[type=text], select                 { padding:1.4rem !important; }
      textarea                                 { padding:1.4rem; }
    }
    .gform_footer                              { margin-top:0; padding-top:1rem;
      input.button                             { padding:1rem 3rem; width:20rem; font-size:1.4rem; border-color:$btn_default_border; text-transform:uppercase;
        &:hover, &:focus                       { background-color:$primary_colour; }
      }
    }
  }
}
.doctor                                        {
  .gform_wrapper                               {
    ul.gform_fields                            {
      li                                       { padding-right:0; }
    }
  }
}
.enquire                                       {
  .gform_wrapper                               {
    ul.gform_fields                            {
      .ginput_container_select                 { padding:1.4rem; border:2px solid $primary_colour; border-radius:10px; overflow:hidden; background:url(assets/images/arrows.png) no-repeat 100%; background-size:contain;
        select.gfield_select                   { width:calc(100% + 30px); border:0; background-color:transparent; }
      }
    }
  }
}
@media screen and (min-width:768px) {
  .doctor                                      {
    .gform_wrapper                             {
      ul.gform_fields                          {
        li.gfield:first-of-type                { float:left; clear:none; margin-top:0; padding-right:1%; width:49.5%; }
        li.gfield:nth-of-type(2n)              { float:left; clear:none; margin-top:0; padding-right:0; width:49.5%; }
        li.gfield:last-of-type                 { padding-right:11px; }
      }
    }
  }
}


