/* LAYOUT
*/
.navigation-padding                            { height:100px; }
.content-padding                               { padding:0 0 3rem; }

.margin_no_top                                 { margin-top:0; }

@media screen and (min-width:768px)            {
	.content-padding                             { padding:6rem 0; }
}