/*
  Theme Name:   Boss Aluminium
  Author:       Smith Brothers Media
  Version:      1.0.0
  Author URI:   http://smithbrothersmedia.com.au
  Description:  This theme is developed by Smith Brothers Media.
*/
/*  OVERRIDING GUTTERS
*/
.container {
  padding-right: !important;
  padding-left: !important;
}

.row {
  margin-right: !important;
  margin-left: !important;
}

.row .col-xs-1, .row .col-sm-1, .row .col-md-1, .row .col-lg-1,
.row .col-xs-2, .row .col-sm-2, .row .col-md-2, .row .col-lg-2,
.row .col-xs-3, .row .col-sm-3, .row .col-md-3, .row .col-lg-3,
.row .col-xs-4, .row .col-sm-4, .row .col-md-4, .row .col-lg-4,
.row .col-xs-5, .row .col-sm-5, .row .col-md-5, .row .col-lg-5,
.row .col-xs-6, .row .col-sm-6, .row .col-md-6, .row .col-lg-6,
.row .col-xs-7, .row .col-sm-7, .row .col-md-7, .row .col-lg-7,
.row .col-xs-8, .row .col-sm-8, .row .col-md-8, .row .col-lg-8,
.row .col-xs-9, .row .col-sm-9, .row .col-md-9, .row .col-lg-9,
.row .col-xs-10, .row .col-sm-10, .row .col-md-10, .row .col-lg-10,
.row .col-xs-11, .row .col-sm-11, .row .col-md-11, .row .col-lg-11,
.row .col-xs-12, .row .col-sm-12, .row .col-md-12, .row .col-lg-12 {
  padding-right: !important;
  padding-left: !important;
}

@font-face {
  font-family: "blanchcondensed";
  src: url("assets/fonts/blanch-condensed-58f6d8f477796-webfont.woff2") format("woff2"), url("assets/fonts/blanch-condensed-58f6d8f477796-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 10px;
}

body {
  padding-top: 12rem;
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #767676;
}

.contentwrap {
  line-height: 1.25;
}

.wrap {
  min-height: 100%;
}

.wrap:after {
  display: block;
  content: "";
}

p {
  margin-bottom: 2rem;
}

b, strong {
  font-weight: 500;
}

ul {
  margin: 0 0 1rem;
  padding: 0 2.5rem;
}

h1 {
  font-family: "blanchcondensed", sans-serif;
  margin-top: 2rem;
  font-size: 5rem;
  font-weight: 300;
  text-transform: lowercase;
}

h2 {
  font-family: "blanchcondensed", sans-serif;
  display: inline-block;
  margin: 2rem 0 0.5rem;
  padding: 0;
  font-size: 3.5rem;
  font-weight: 300;
  color: #BCCF0D;
  text-transform: lowercase;
}

.home h2 {
  margin: 4rem 0 2rem;
  padding: 0 1rem;
  color: #767676;
  font-size: 5rem;
  border-bottom: 1px solid #BCCF0D;
}

h2.standard {
  display: block;
  padding: 0 0 1rem 0;
  font-size: 3rem;
  color: #767676;
}

h2.large {
  font-size: 5rem;
  color: #767676;
}

h3 {
  font-family: helvetica, arial, sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
}

.home h3 {
  font-family: "blanchcondensed", sans-serif;
  font-size: 4rem;
  font-weight: 300;
  text-transform: lowercase;
}

a {
  color: #628022;
  text-decoration: underline;
}

a:hover, a:focus {
  color: #628022;
  text-decoration: none;
}

/*  Google Maps
*/
.acf-map {
  margin: 0;
  width: 100%;
  height: 300px;
  border: none;
}

.acf-map img {
  max-width: inherit !important;
}

/* LAYOUT
*/
.navigation-padding {
  height: 100px;
}

.content-padding {
  padding: 0 0 3rem;
}

.margin_no_top {
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .content-padding {
    padding: 6rem 0;
  }
}

.content .gform_wrapper div.validation_error {
  color: #790000;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 25px 0px;
  border: 1px solid #790000;
  padding: 16px 0;
  clear: both;
  width: calc( 100% - 50px);
  text-align: center;
  background-color: rgba(255, 223, 224, 0.25);
}

.content .gform_wrapper .field_description_below .gfield_description {
  padding: 0px;
  font-size: 0.6rem;
  font-weight: 300;
  margin-bottom: 10px;
}

.content .gform_wrapper .top_label .gfield_label {
  font-size: 1.6rem;
  font-weight: 300;
  color: #000;
  margin: 0px !important;
}

.content .gform_wrapper .top_label div.ginput_container {
  margin-top: 0px;
}

.content .gform_wrapper ul.gform_fields li.gfield {
  padding: 0;
  list-style-type: none;
}

.content .gform_wrapper ul.gform_fields li.gfield.gfield_error {
  margin: 0 !important;
  padding-right: 20px !important;
  border: none !important;
  background: transparent !important;
}

.content .gform_wrapper ul.gform_fields li.gfield.gfield_error.gfield_contains_required div.ginput_container {
  margin: 0px !important;
}

.content .gform_wrapper ul.gform_fields li.gfield.gfield_error.gfield_contains_required div.gfield_description {
  padding: 0px;
}

.content .gform_wrapper ul.gform_fields li.gfield_error input[type=text], .content .gform_wrapper ul.gform_fields li.gfield_error .gform_wrapper li.gfield_error textarea {
  border: none;
  border-bottom: 1px solid #790000;
}

.content .gform_wrapper ul.gform_fields .gfield_checkbox li label {
  font-weight: normal;
}

.content .gform_wrapper ul.gform_fields .gfield_checkbox li input[type=checkbox] {
  margin-top: 0;
}

.content .gform_wrapper input[type=text], .content .gform_wrapper select {
  outline: none !important;
  padding: 0px;
  font-size: 1.6rem;
  border: 1px solid #767676;
}

.content .gform_wrapper ul.gform_fields li.preferred_date {
  float: left;
  margin-right: 1%;
  padding: 0 12px;
  width: 49.5%;
  min-height: 55px;
  border: 1px solid #767676;
}

.content .gform_wrapper ul.gform_fields li.preferred_date label {
  display: inline-block;
  padding-left: 1rem;
  color: #767676;
  font-weight: bold;
}

.content .gform_wrapper ul.gform_fields li.preferred_date > div {
  display: inline-block;
  margin-left: 1rem;
}

.content .gform_wrapper ul.gform_fields li.preferred_date > div input[type=text] {
  border: 0;
}

.content .gform_wrapper ul.gform_fields li.preferred_time {
  float: left;
  clear: none;
  padding: 8px 12px;
  width: 49.5%;
  min-height: 55px;
  border: 1px solid #767676;
}

.content .gform_wrapper ul.gform_fields li.preferred_time label {
  display: inline-block;
  margin-right: 10px !important;
  padding-left: 1rem;
  color: #767676;
  font-weight: bold;
}

.content .gform_wrapper ul.gform_fields li.preferred_time > div {
  display: inline-block;
  margin-left: 1rem;
  width: 50%;
}

.content .gform_wrapper ul.gform_fields li.preferred_time > div > div {
  position: relative;
  display: inline-block;
}

.content .gform_wrapper ul.gform_fields li.preferred_time > div > div label {
  display: none;
}

.content .gform_wrapper ul.gform_fields li.preferred_time > div > div input[type=text] {
  display: inline-block;
  padding: 5px 0 !important;
  width: 30px;
  border: 0;
}

.content .gform_wrapper ul.gform_fields li.preferred_time > div > div i {
  position: absolute;
  top: 0;
}

.content .gform_wrapper ul.gform_fields li.preferred_time > div > div select {
  margin-top: 5px;
}

.content .gform_wrapper textarea {
  outline: none;
  font-size: 1.6rem;
  margin-top: 10px;
  padding: 0px;
  height: 120px !important;
}

.content .gform_wrapper .gform_footer input.button {
  font-size: 1.6rem;
  color: #000;
  border: 1px solid #444;
  background-color: #fff;
  padding: 5px 25px;
  line-height: normal;
  transition: 0.4s all;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
}

.content .gform_wrapper .gform_footer input.button:hover, .content .gform_wrapper .gform_footer input.button:focus {
  color: #fff;
  background-color: #000;
}

/* X SMALL - ONLY (Phone)
*/
@media screen and (max-width: 767px) {
  .content .gform_wrapper ul.gform_fields li.preferred_date {
    width: 100%;
  }
  .content .gform_wrapper ul.gform_fields li.preferred_time {
    width: 100%;
  }
  .content .gform_wrapper ul.gform_fields li.preferred_time select {
    margin-top: 8px;
  }
}

/* FORMS
*/
.content .gform_wrapper .top_label .gfield_label {
  display: none;
}

.content .gform_wrapper ul.gform_fields input[type=text], .content .gform_wrapper ul.gform_fields select {
  padding: 1.4rem !important;
}

.content .gform_wrapper ul.gform_fields textarea {
  padding: 1.4rem;
}

.content .gform_wrapper .gform_footer {
  margin-top: 0;
  padding-top: 1rem;
}

.content .gform_wrapper .gform_footer input.button {
  padding: 1rem 3rem;
  width: 20rem;
  font-size: 1.4rem;
  border-color: #BCCF0D;
  text-transform: uppercase;
}

.content .gform_wrapper .gform_footer input.button:hover, .content .gform_wrapper .gform_footer input.button:focus {
  background-color: #BCCF0D;
}

.doctor .gform_wrapper ul.gform_fields li {
  padding-right: 0;
}

.enquire .gform_wrapper ul.gform_fields .ginput_container_select {
  padding: 1.4rem;
  border: 2px solid #BCCF0D;
  border-radius: 10px;
  overflow: hidden;
  background: url(assets/images/arrows.png) no-repeat 100%;
  background-size: contain;
}

.enquire .gform_wrapper ul.gform_fields .ginput_container_select select.gfield_select {
  width: calc(100% + 30px);
  border: 0;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .doctor .gform_wrapper ul.gform_fields li.gfield:first-of-type {
    float: left;
    clear: none;
    margin-top: 0;
    padding-right: 1%;
    width: 49.5%;
  }
  .doctor .gform_wrapper ul.gform_fields li.gfield:nth-of-type(2n) {
    float: left;
    clear: none;
    margin-top: 0;
    padding-right: 0;
    width: 49.5%;
  }
  .doctor .gform_wrapper ul.gform_fields li.gfield:last-of-type {
    padding-right: 11px;
  }
}

/* HEADER
*/
/* FOOTER
*/
.before-footer {
  padding: 10px 0px;
  font-size: 0.9em;
  font-weight: 400;
  color: #FFF;
  background: #414042;
}

.footer {
  padding: 10px 0px;
  font-size: 0.9em;
  font-weight: 400;
  color: #FFF;
  background: #fff;
}

.footer a {
  color: #FFF;
}

.footer .company-info {
  margin-bottom: 15px;
}

.footer .site-copyright p {
  margin: 0.5em 0 0;
}

.footer .site-copyright a {
  color: #FFF;
  text-decoration: underline;
}

.footer .site-copyright a:hover, .footer .site-copyright a:focus {
  text-decoration: none;
}

/* 



				Clean up ????




*/
.dynamic-text {
  color: #FFF;
  background-color: #333;
  text-align: center;
}

.footer {
  padding-top: 20px;
  text-align: center;
}

.footer img {
  display: inline-block;
  margin-bottom: 0;
  width: 130px;
}

.footer p {
  margin: 0 0 1.5rem;
}

.footer a {
  color: #FFF;
  text-decoration: none;
}

.footer a:hover, .footer a:focus {
  color: #FFF;
  text-decoration: underline;
}

.footer a.btn-facebook {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 1rem;
  color: #333;
  background-color: #70bf44;
}

.pre-footer {
  padding: 3rem 0;
  color: #FFF;
  background-color: #767676;
  font-size: 1.5rem;
  font-weight: 300;
}

.pre-footer h2 {
  margin-top: 0;
  color: #FFF;
}

.pre-footer a {
  color: #FFF;
}

.pre-footer span {
  display: inline-block;
}

.footer {
  color: #BCCF0D;
  background-color: #555;
  font-size: 1.2rem;
  font-weight: 300;
}

.footer a {
  color: #FFF;
  white-space: nowrap;
}

.footer span {
  display: inline-block;
}

.footer .footer-logo {
  display: block;
  margin-top: 2rem;
}

.footer .footer-links {
  display: block;
}

@media screen and (max-width: 767px) {
  .pre-footer span {
    display: block;
  }
  .pre-footer .hidden-mobile {
    display: none;
  }
  .footer .hidden-mobile {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .footer .footer-logo {
    float: left;
    margin-top: 0;
    display: table-cell;
  }
  .footer .footer-links {
    float: right;
    display: table-cell;
    margin-top: 1.2rem;
    width: 81%;
  }
}

.rebates {
  position: relative;
  left: -5px;
}

.rebates thead th {
  height: 65px;
  line-height: 1;
  font-size: 1.2rem;
  font-weight: 400;
  color: #51564D;
  background-color: #B2D239;
  text-align: center;
}

.rebates thead th:first-of-type {
  font-family: "blanchcondensed", sans-serif;
  font-size: 1.6rem;
  background-color: #D5E692;
  border-right: 1px solid #FFF;
  text-transform: lowercase;
}

.rebates thead th sup {
  color: #FFF;
}

.rebates tbody tr th {
  line-height: 1;
  font-family: "blanchcondensed", sans-serif;
  height: 60px;
  font-size: 1.6rem;
  font-weight: 400;
  border-right: 1px solid #FFF;
  color: #FFF;
  background-color: #7A7D7E;
  text-align: center;
  text-transform: lowercase;
}

.rebates tbody tr td {
  padding: 0 5px 0 5%;
  height: 60px;
  font-size: 1.1rem;
  border-right: 1px dashed #B2D239;
}

.rebates tbody tr td:last-of-type {
  border-right: 0;
}

.rebates tbody tr td.tick {
  background: url(assets/images/icon_tick_half.png) no-repeat center #F8F8F8;
}

.rebates tbody tr td.tick-text {
  background: url(assets/images/icon_tick_half.png) no-repeat 1% center #F8F8F8;
}

.rebates tbody tr td.cross {
  background: url(assets/images/icon_cross_half.png) no-repeat center #F8F8F8;
}

.rebates tbody tr td.cross-text {
  background: url(assets/images/icon_cross_half.png) no-repeat 1% center #F8F8F8;
}

.rebates tbody tr:nth-child(2n) th {
  background-color: #646768;
}

.rebates tbody tr:nth-child(2n) td {
  color: #FFF;
  background-color: #a7a9ac;
}

p.rebates {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .rebates {
    left: 0;
  }
  .rebates thead th {
    font-size: 2.2rem;
  }
  .rebates thead th:first-of-type {
    font-size: 3.5rem;
    border-right-width: 5px;
  }
  .rebates tbody tr th {
    height: 60px;
    font-size: 3.5rem;
    border-right-width: 5px;
  }
  .rebates tbody tr td {
    padding: 0 5px 0 6%;
    font-size: 1.6rem;
  }
  .rebates tbody tr td.tick {
    background-image: url(assets/images/icon_tick.png);
  }
  .rebates tbody tr td.tick-text {
    background-image: url(assets/images/icon_tick.png);
    background-position: 8% center;
  }
  .rebates tbody tr td.cross {
    background-image: url(assets/images/icon_cross.png);
  }
  .rebates tbody tr td.cross-text {
    background-image: url(assets/images/icon_cross.png);
    background-position: 8% center;
  }
}

/* NAVIGATION
*/
#navbar-toggle {
  position: absolute;
  right: 3rem;
  top: 2.5rem;
  width: 22px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 22;
}

#navbar-toggle span {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #BCCF0D;
  border-radius: 9px;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#navbar-toggle span:nth-child(1) {
  top: 0px;
}

#navbar-toggle span:nth-child(2) {
  top: 8px;
}

#navbar-toggle span:nth-child(3) {
  top: 16px;
}

#navbar-toggle.open span:nth-child(1) {
  top: 8px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#navbar-toggle.open span:nth-child(2) {
  opacity: 0;
  top: 60px;
}

#navbar-toggle.open span:nth-child(3) {
  top: 8px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* NAVIGATION - DESKTOP
*/
.primary-header .header-wrap {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.primary-header .header-wrap .container {
  position: relative;
  min-height: 12rem;
}

.primary-header .logo {
  margin: 0.8rem 0 0.5rem;
  transition: all 0.2s ease;
}

.primary-header .logo img {
  max-width: 100%;
  max-height: 10rem;
  transition: all 0.2s ease;
}

.primary-header .quickcontact {
  background-color: #BCCF0D;
}

.primary-header .quickcontact ul {
  margin: 0;
  padding: 0.5rem 0;
  list-style-type: none;
  font-weight: 400;
  text-align: right;
}

.primary-header .quickcontact ul li {
  display: inline-block;
  font-size: 1.2rem;
  color: #FFF;
}

.primary-header .quickcontact ul li i {
  color: #FFF;
}

.primary-header .quickcontact ul li a {
  color: #FFF;
  text-decoration: none;
}

.primary-header .quickcontact ul li a.sbm-icon i {
  color: #FFF;
}

.primary-header .doctor_link {
  position: absolute;
  display: block;
  right: 35px;
  bottom: -45px;
  padding: 4px 15px 0;
  height: 45px;
  font-family: "blanchcondensed";
  font-size: 2.2rem;
  color: #767676;
  background-color: #FFFFFF;
  border-radius: 0 0 7px 7px;
  text-transform: lowercase;
  text-decoration: none;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
}

.primary-header .doctor_link span {
  padding: 5px 5px;
  border-bottom: 1px solid #BCCF0D;
}

.primary-header .drop-shadow img {
  margin: 0 auto;
}

.primary-nav {
  float: right;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.primary-nav .nav {
  display: inline-block;
  padding: 0;
}

.primary-nav .nav > li {
  display: inline-block;
}

.primary-nav .nav > li a {
  padding: 10px 15px;
  color: #333;
  text-decoration: none;
}

.primary-nav .nav > li a:hover {
  text-decoration: none;
}

.primary-nav .nav ul.sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
}

.primary-nav .nav ul.sub-menu li {
  position: relative;
  float: left;
  width: 250px;
  background: #eee;
  border-top: 1px solid #fff;
  list-style-image: none;
}

.primary-nav .nav ul.sub-menu li a {
  display: block;
  padding: 5px 10px;
  background: transparent;
  color: #666;
}

.primary-nav .nav ul.sub-menu li a:hover {
  background: #666;
  color: #FFF;
}

.primary-nav .nav li:hover > ul.sub-menu {
  display: block;
}

/* NAVIGATION - DESKTOP MODS
*/
.primary-header .logo {
  margin: 2.5rem 0 0.5rem;
}

.primary-header .header-wrap {
  background-color: white;
}

.primary-nav {
  margin-top: 2rem;
}

.primary-nav .nav > li a {
  padding: 20px 10px;
  font-size: 1.4rem;
  color: #767676;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
}

.primary-nav .nav > li.current-menu-item a {
  color: #333;
  border-bottom: 2px solid #BCCF0D;
}

.primary-nav .nav > li a:hover {
  color: #333;
  border-bottom-color: #CCC;
  background-color: transparent;
}

.primary-nav .nav > li:last-of-type a {
  padding: 10px;
  border: 2px solid #BCCF0D;
  background-color: #FFF;
  transition: all 0.3s ease;
}

.primary-nav .nav > li:last-of-type a:hover {
  color: #FFF;
  background-color: #BCCF0D;
  transition: all 0.3s ease;
}

@media screen and (min-width: 1200px) {
  .primary-nav .nav > li a {
    padding: 20px 15px;
    font-size: 1.6rem;
  }
  .primary-nav .nav > li:last-of-type a {
    padding: 10px 15px;
  }
}

/* NAVIGATION - MOBILE
*/
/* Page Nav */
.mobile-navbar {
  min-height: auto;
  padding: 0 0 1rem 0;
  background: #FFF;
  color: #333;
  border-bottom: 1px solid #555;
  z-index: 1020;
}

.mobile-navbar .logo {
  float: left;
  padding-left: 1.5rem;
}

.mobile-navbar .logo a {
  display: block;
  border: 0;
}

.mobile-navbar .quickcontact {
  margin-bottom: 1rem;
  background-color: #333;
}

.mobile-navbar .quickcontact ul {
  margin: 0;
  padding: 0.5rem 0;
  list-style-type: none;
  font-weight: bold;
  text-align: right;
}

.mobile-navbar .quickcontact ul li {
  display: inline-block;
  font-size: 1.2rem;
  color: #FFF;
}

.mobile-navbar .quickcontact ul li i {
  color: #FFF;
}

.mobile-navbar .quickcontact ul li a {
  line-height: 1;
  color: #FFF !important;
  text-decoration: none !important;
  font-size: 1.2rem;
  font-weight: 400 !important;
  border-bottom: 0;
}

.mobile-navbar .quickcontact ul li a.sbm-icon i {
  color: #FFF;
}

.mobile-navbar a {
  padding: 0 !important;
  line-height: 50px;
  font-size: 2.2rem;
  font-weight: 600;
  color: #BCCF0D !important;
  text-decoration: none;
}

.mobile-navbar .navbar-toggle {
  float: right;
  margin-top: 10px;
  margin-left: 15px;
  border: 0;
  background: transparent;
  border: 1px solid transparent;
}

.mobile-navbar .navbar-toggle:hover, .mobile-navbar .navbar-toggle:focus {
  border-color: #cccccc;
  background: transparent;
}

.mobile-navbar .navbar-toggle .icon-bar {
  width: 40px;
  height: 3px;
  background-color: #BCCF0D;
}

.mobile-navbar .navbar-toggle .icon-bar + .icon-bar {
  margin-top: 6px;
}

.mobile-navbar .nav > li > a:hover, .mobile-navbar .navbar .nav > li > a:focus {
  text-decoration: none;
  background-color: #cccccc;
  color: #666666;
}

.mobile-navbar .brand {
  margin-left: 2rem;
  padding: 6px 15px 0;
  width: 70%;
  height: auto;
  border: 0;
}

.mobile-navbar .brand img {
  display: inline-block;
}

@media screen and (max-width: 991px) {
  .navbar-toggle {
    display: block;
  }
}

/* Pop out */
.mobile-nav > div:first-of-type {
  background-color: #F1F1F1;
  border-right: 1px solid #CCC;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
}

.mobile-nav .mobile-nav-header {
  background-color: #a5cf4d;
}

.mobile-nav .mobile-nav-header .nav-toggle {
  float: none;
  margin: 0;
  padding: 1.5rem;
  width: 100%;
  font-size: 2rem;
  color: #FFF;
  text-align: left;
  border: 0;
  background: url(assets/images/menu-arrow.png) right 15px center no-repeat;
}

.mobile-nav .nav {
  padding: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.mobile-nav a {
  text-decoration: none;
  border-bottom: 1px solid #CCC;
}

.mobile-nav .menu-item {
  background-color: #FFF;
}

.mobile-nav .menu-item.active {
  background-color: #D9EEB5;
}

.mobile-nav .current-menu-item a {
  color: #FFF !important;
  background-color: #BCCF0D !important;
}

.mobile-nav .current-menu-item .sub-menu .menu-item a {
  color: #17223C !important;
  background-color: #D9EEB5 !important;
}

.mobile-nav .sub-menu {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav .sub-menu .menu-item a {
  display: block;
  padding: 10px 15px 10px 35px;
  background: url(assets/images/list-arrow.png) 2rem center no-repeat;
  border-bottom: 1px solid #CCC;
  font-style: italic;
}

.mobile-nav .sub-menu .current-menu-item a {
  background-image: url(assets/images/list-arrow-selected.png) !important;
}

.mobile-nav .drop-shadow {
  position: fixed;
  top: 70px;
  opacity: 0.7;
  z-index: 10;
}

/* BANNER
*/
.banner {
  position: relative;
  margin-top: 70px;
  height: 320px;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.banner .cover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(50, 50, 50, 0.1);
}

.banner .container {
  position: relative;
  height: 400px;
}

.banner .contentwrap {
  position: relative;
  left: 0;
  bottom: 8rem;
  min-width: 62%;
  color: #FFF;
  background-color: rgba(126, 171, 33, 0.47);
}

.banner .contentwrap .main {
  padding: 15px 30px 10px;
}

.banner .contentwrap .main h1 {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 3rem;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.banner .contentwrap .main p {
  font-size: 2rem;
  font-weight: 300;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

@media (max-width: 767px) {
  .banner .container {
    margin: 0;
    padding: 0;
  }
  .banner .contentwrap {
    position: absolute;
    min-width: 100%;
  }
}

@media (min-width: 768px) {
  .banner {
    margin-top: 117px;
    height: 400px;
  }
  .banner .contentwrap {
    position: absolute;
    left: 3rem;
    bottom: 0;
  }
  .banner .contentwrap .main {
    padding: 30px;
  }
  .banner .contentwrap .main h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
  }
}

/* IMAGES (RESPONSIVE)
*/
.main img {
  display: block;
  max-width: 100%;
  height: auto;
}

.main img.alignleft {
  float: left;
  margin: 0 20px 10px 0;
}

.main img.alignright {
  float: right;
  margin: 0 0 10px 20px;
}

.main img.aligncentre {
  margin: 0 auto;
}

/* BUTTONS
*/
.btn {
  text-decoration: none;
  padding: 1rem 3rem;
}

.btn-default {
  color: #333333;
  background-color: transparent;
  border: 1px solid #BCCF0D;
  border-radius: 0;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
  color: #FFF;
  background-color: #BCCF0D;
  transition: all 0.3s ease;
}

.btn-primary {
  color: #FFF;
  background-color: #BCCF0D;
  border: 1px solid transparent;
  border-radius: 0;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  color: #333333;
  background-color: #FFF;
  border: 1px solid #BCCF0D;
  transition: all 0.3s ease;
}

.btn-secondary {
  color: #BCCF0D;
  background-color: #FFF;
  border: 0;
  border-radius: 0;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.btn-action {
  background: red;
  color: white;
}

.btn-action:hover, .btn-action:focus, .btn-action:active, .btn-action.active {
  background: white;
  color: red;
}

.text-image p:last-of-type a:last-of-type {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.8rem 3rem;
  font-size: 1.6rem;
  color: #FFF;
  background-color: transparent;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease;
}

.text-image p:last-of-type a:last-of-type:hover {
  background-color: rgba(188, 207, 13, 0.5);
  transition: all 0.3s ease;
}

.more_content {
  position: relative;
  padding-top: 3rem;
  border: 0;
  background-color: #FFFFFF;
}

.more_content:before {
  position: absolute;
  left: 45%;
  top: 0;
  color: #BCCF0D;
  font-family: FontAwesome;
  content: "\f107";
  font-size: 2.8rem;
}

.more_content span {
  font-family: "blanchcondensed";
  font-size: 2rem;
}

.less_content:before {
  content: "\f106";
}

/* ICONS
*/
.sbm-icon {
  display: inline-block;
  width: 2rem;
  border-radius: 0.4rem;
  background-color: #333;
  text-align: center;
}
